*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
}

html{
    background-color: #162831;
    color: #fff;
}

a{
    text-decoration: none;
    color: #fff;
}

.btn {
    height: 0px;
    font-family: 'ProximaNova', sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 18.2px;
    background-color: #018ABE;
    border-radius: 3px;
    padding: 9px 17px 27px 16px;
    letter-spacing: 0.12px;
}

.title{
    text-align: center;
    position: relative;
    font-size: 24px;
}

.title::before {
    position: absolute;
    left: 79px;
    top: 9px;
    width: 28px;
    height: 14px;
}

.title::after {
    position: absolute;
    top: 9px;
    right: 79px;
    width: 28px;
    height: 14px;
}

.title-white::after{
    background-image: url(../img/title/02.svg);
}

.title-white::before{
    background-image: url(../img/title/01.svg);
}

.title-blue::after{
    background-image: url(../img/title/04.svg);
}

.title-blue::before {
    background-image: url(../img/title/03.svg);
}


.header{
    padding-top: 30px;
}

.header-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav-link:not(:last-child){
    margin-right: 50px;
}


.hero{
    margin-top: 70px;
}

.hero-content{
    background-image: url(../img/hero/01.png);
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 146px 354px 210px 355px;
    font-weight: 700;
}

.hero-title{
    text-align: center;
    font-size: 64px;
    line-height: 89.6px;

}

.sessions{
    margin-top: 150px;
}

.title-sessions::before{
    left: 407px;
    top: 22px;
}

.title-sessions::after{
    top: 22px;
    right: 409px;
}

.grid {
    padding-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.grid-item {
    position: relative;
    margin-bottom: 14px;
    margin-right: 24px;
    align-content: space-between;
}

.grid-box img {
    border-radius: 11px;
}

.grid-item-standart {
    position: relative;
    margin-right: 24px;
    padding: 0;
    grid-row-start: 1;
    grid-row-end: 3;
}

.hidden {
    display: inline-block;
    overflow: hidden;
    border-radius: 11px;
}

.grid-box img {
    display: block;
    overflow: hidden;
    transition: 1s;
}

.grid-box img:hover {
    transform: scale(1.2);
}

.grid-item-standart p {
    position: absolute;
    top: 432px;
    left: 51px;
    font-weight: 700;
    font-size: 24px;
    line-height: 33.6px;
}

.sessions-name {
    position: absolute;
    top: 171px;
    left: 41px;
    font-weight: 700;
    font-size: 24px;
    line-height: 33.6px;
}

.other-name {
    left: 41px;
    top: 137px;
}


.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 52px;
}

.footer p {
    font-family: "ProximaNova", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18.9px;
}

.den-info {
    font-family: "ProximaNova", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 18.9px;
    letter-spacing: 0.01px;
}

